<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>thymeleaf-test-app</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<div th:fragment="content">

		<h2 th:text="#{user.details}">User details</h2>
		<form action="#" th:action="@{/admin/userEdit}" th:object="${user}" method="post">
			<table>
				<tr>
					<td th:text="#{user.username}">Username</td>
					<td><input type="text" th:field="*{username}" /></td>
					<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
				</tr>
				<tr>
					<td th:text="#{user.firstName}">First name</td>
					<td><input type="text" th:field="*{firstName}" /></td>
					<td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName Error</td>
				</tr>
				<tr>
					<td th:text="#{user.lastName}">Last Name</td>
					<td><input type="text" th:field="*{lastName}" /></td>
					<td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</td>
				</tr>
				<tr>
					<td th:text="#{user.password}">Password</td>
					<td><input type="password" th:field="*{password}" /></td>
					<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
				</tr>
				<tr>
					<td th:text="#{user.email}">Email</td>
					<td><input type="text" th:field="*{email}" /></td>
					<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
				</tr>
				<tr>
					<td th:text="#{user.telephone}">Telephone</td>
					<td><input type="text" th:field="*{telephone}" /></td>
					<td th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Telephone Error</td>
				</tr>
			</table>
			<div>
				<button type="submit" name="saveUser" th:text="#{user.saveUser}">Save user</button>
			</div>
		</form>
	</div>

</body>
</html>