<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<h2 th:text="#{user.list}">List of users</h2>
		
			<table class="table-full">
				<thead>
					<tr>
						<th pages:sort="username" th:text="#{user.username}">Username</th>
						<th pages:sort="firstName" th:text="#{user.firstName}">First name</th>
						<th pages:sort="lastName" th:text="#{user.lastName}">Last Name</th>
						<th pages:sort="email" th:text="#{user.email}">E-mail</th>
						<th pages:sort="telephone" th:text="#{user.telephone}">Telephone</th>
						<th th:text="#{user.action}">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user,rowStat : ${allUsers}" pages:paginate="${rowsInPage}">
						<td th:text="${user.username}">hannibal</td>
						<td th:text="${user.firstName}">John</td>
						<td th:text="${user.lastName}">Smith</td>
						<td th:text="${user.email}">name@email.com</td>
						<td th:text="${user.telephone}">55667788</td>
						<td>
							<form action="#" th:action="@{/admin/userList}" method="post">
								<button type="submit" name="editUser" th:value="${user.id}" th:text="#{user.editUser}">Edit user</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<form action="#" th:action="@{/admin/userList}" method="post">
					<button type="submit" name="addUser" th:text="#{user.addUser}">Add new User</button>
				</form>
			</div>
	</div>
</body>
</html>