<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">

	<property resource="personal.properties" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${wildflyHome}\standalone\log\thymleaf-app.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%class:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.test" level="WARN"/>

	<logger name="testapp" level="DEBUG" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
