body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a {
	color: #328eea;
}

input[type="text"],input[type="password"],textarea {
	background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    padding: 3px 6px;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
textarea {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*
button{
	border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;
	border-radius: 4px;
	font-size:13px;
	font-family:arial, helvetica, sans-serif;
	padding: 6px 12px; 
	text-decoration:none; 
	display:inline-block;
	text-transform: uppercase; 
	font-weight:bold; 
	color: #FFFFFF;
	background-color: #49c0f0; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
	background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
	background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
	background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
	background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
	background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
	cursor: pointer;
}

button:hover{
	border:1px solid #1090c3;
 	background-color: #1ab0ec; 
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 	background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 	background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 	background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 	background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 	background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}
*/
.header-wrapper {
	height: 60px;
	width: 100%;
	border-bottom: 1px dotted;
}

header {
	height: 100%;
	margin: 0 auto;
	width: 1100px;
}

.content-wrapper {
	width: 1100px;
	margin: 0 auto;
	display: table;
}

.menu {
	width: 200px;
	min-width: 200px;
	display: table-cell;
	vertical-align: top;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	border-bottom: 1px dotted;
}

.menu a {
	display: block;
	font-family: verdana;
	font-size: 14px;
	padding: 11px 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}

.menu a:hover, .menu a.active {
	background-color: #4fc0e8;
	color: #ffffff;
}

.content {
	width: 900px;
	max-width: 900px;
	display: table-cell;
	padding: 20px;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
}

.footer-wrapper {
	width: 1100px;
	margin: 0 auto;
}

footer {
	width: 870px;
	float: right;
	padding-right: 20px;
	text-align: right;
}

.login {
	float: right;
	margin-top: 15px;
}

.login p {
	margin: 0px;
	color: #ff0000;
}

.stacktrace {
	color: #cf0000;
}

/* Tabs */
.tabs {
	list-style: outside none none;
	margin: 0 0 20px 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
	border-bottom: 1px dashed;
}

.tabs li {
	float: left;
	margin: 0 0.5em 0 0;
}

.tabs a {
	border-top: 1px dashed;
	border-left: 1px dashed;
	border-right: 1px dashed;
	color: #444;
	float: left;
	padding: 0.5em 3em;
	position: relative;
	text-decoration: none;
}

.tabs a:hover, .tabs a.active {
	background-color: #4fc0e8;
	color: #ffffff; 
}

/* Table */ 
.table-full{
	width: 100%;
}

.table-full tbody > tr:nth-child(2n+1) > td, .table-full tbody > tr:nth-child(2n+1) > th {
    background-color: #f9f9f9;
}

.table-full th, .table-full td {
	border-bottom: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	vertical-align: top;
}

.table-full th {
	font-weight: bold;
}
.paginate-count{
	float:right;
	margin: 5px 5px 5px 0;
}
.paginate{
	margin: 5px 0 5px 300px;
}