body {
  margin: 0;
  padding: 0;
}
a {
	color: #328eea;
}
.header-wrapper{
    height: 60px;
    width: 100%;
    border-bottom: 1px dotted;
}
header{
    height: 100%;
    margin: 0 auto;
    width: 1100px;
}
.content-wrapper{
	width: 1100px;
	margin: 0 auto;
	display: table;
}
.menu {
	width: 200px;
	min-width: 200px;
	display: table-cell;
	vertical-align: top;
}
.menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li{
    border-bottom: 1px dotted;
}
.menu a{
	display: block;
    font-family: verdana;
    font-size: 14px;
    padding: 11px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
.menu a:hover, .menu a.active{
	background-color: #4fc0e8;
	color: #ffffff;
}
.content {
	width: 900px;
	max-width: 900px;
	display: table-cell;
	padding: 20px;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
}
.footer-wrapper{
	width: 1100px;
	margin: 0 auto;
}
footer{
	width: 870px;
	float: right;
    padding-right: 20px;
    text-align: right;
}
.login{
	float: right;
	margin-top: 15px;
}
.login p{
	margin: 0px;
	color: #ff0000;
}
.stacktrace{
	color: #cf0000;
}