<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="footer" class="footer-wrapper">
		<footer>
      		<img th:src="@{/images/logo_spring.png}" style="position: absolute; left:0px; top: 3px;"/>
      		<img th:src="@{/images/logo_thymeleaf.png}" style="position: absolute; left:60px; top: 8px;"/>
      		<img th:src="@{/images/logo_wildfly.png}" style="position: absolute; left:195px; top: 5px;"/>
      		<img th:src="@{/images/logo_gradle.png}" style="position: absolute; left:300px; top: 7px;"/>
      		<img th:src="@{/images/logo_logback.png}" style="position: absolute; left:400px; top: 1px;"/>
      		<img th:src="@{/images/logo_mockito.png}" style="position: absolute; left:460px; top: 0px;"/>
      		<img th:src="@{/images/logo_jrebel.png}" style="position: absolute; left:535px; top: 10px;"/>
		</footer>
	</div>

</body>
</html>