<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

	<div th:fragment="header" class="header-wrapper">
		<header>
			<div sec:authorize="!isAuthenticated()" class="login">
		        <form th:action="@{/j_spring_security_check}" method="post">
		            <label for="j_username">Username</label>:
		            <input type="text" id="j_username" name="j_username" autofocus="autofocus" />
		            <label for="j_password">Password</label>:
		            <input type="password" id="j_password" name="j_password" /> 
		            <button type="submit">Login</button>
		        </form>
				<p th:if="${loginError}">Wrong user or password</p>
			</div>
			
			<div sec:authorize="isAuthenticated()" class="login">
				Logged user: <b><span sec:authentication="name">Bob</span></b> | 
				Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> | 
				<a href="index.html" th:href="@{/j_spring_security_logout}">Logout</a>
			</div>
		</header>
	</div>

</body>
</html>