<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

	<div th:fragment="menu" class="menu">
		<ul>
			<li>
				<a th:classappend="${page == 'home' ? 'active' : ''}" href="#" th:href="@{/}">Home</a>
			</li>
			<li sec:authorize="hasRole('ROLE_ADMIN')">
				<a th:classappend="${page == 'users' ? 'active' : ''}" href="#" th:href="@{/admin/userList}">Users</a>
			</li>
			<li sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
				<a th:classappend="${page == 'messages' ? 'active' : ''}" href="#" th:href="@{/auth/messageList}">Messages</a>
			</li>
			<li>
				<a th:classappend="${page == 'contact' ? 'active' : ''}" href="#" th:href="@{/contact}">Contact</a>
			</li>
			<li sec:authorize="hasRole('ROLE_ADMIN')">
				<a th:classappend="${page == 'devTest' ? 'active' : ''}" href="#" th:href="@{/admin/devTest}">Dev &amp; Test</a>
			</li>
		</ul>
	</div>

</body>
</html>