<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:hdiv="http://www.hdiv.org/schema/hdiv" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.hdiv.org/schema/hdiv http://www.hdiv.org/schema/hdiv/hdiv.xsd">

	<bean name="userRepository" class="testapp.server.repository.UserRepository" />
	<bean name="userI" class="testapp.server.service.UserService" >
		<property name="userRepository" ref="userRepository"/>
	</bean>

    <!-- Security (authentication and authorization) configuration -->
    <bean name="userDetailsServiceImpl" class="testapp.security.UserDetailsServiceImpl" >
    	<property name="userI" ref="userI"/>
    </bean>
    <import resource="applicationContext-security.xml" />
    
    <!-- HDIV -->
    <hdiv:config errorPage="/">
	    <hdiv:startPages>/,/admin/*,/auth/*</hdiv:startPages>
	</hdiv:config> 
</beans>
